body{
    background-color: rgb(8, 8, 8);
    color: whitesmoke;
    font-family:monospace;

}



/*----------------------body-------------------------*/
#maindiv{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    background-color: #666a743b;
    padding: 10px;
}
#hello{
    text-align: center;
    font-size: 30px;
    min-width: 428px;
}
#hello ul{
    list-style-type: none;
    padding: 0;
}
#title{
    text-align: center;
}
.bold{
    font-weight: bolder;
}
.highlight{
    color: rgb(0, 191, 255);
}
@media screen and (min-width: 600px){
    #hello{min-width: 428px;font-size: 30px;}
    #dc{width: 350px;height: 500px;}
}

@media screen and (max-width: 600px){   
    #hello{min-width: auto;font-size: 20px;}
    #dc{width: 250px;height: 350px;}
}


/*----------------------navbar-------------------------*/
.menu li.categories{
    list-style: none;
    position: relative;
}
.menu li.categories::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(0, 191, 255);
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}
.menu li:hover:after{
    width: 100%;
}

.logo img{
    transition: 0.5s;
}
.logo:hover img{
    width: 107px;
}

.accordion{                  
    font: normal 14px/1.5rem "Arial", sans-serif;        
    background: #222;
    max-width: 600px;            
    margin: 60px  auto;  
}
.accordion section p{
    overflow: hidden;
    height: 0em;
    padding: 0 10px;
    margin: 0;
    background: #fff;
    transition:  0.3s;
    border-left:  1px solid #e3e3e3;
    border-right:  1px solid #e3e3e3;
}

.accordion section a {         
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 8px 15px;
    background: #1e3799;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.accordion section a:focus,            
.accordion section a:hover {            
    background: #0c2461;
}
.accordion section:target p{
    height: inherit;
    padding: 10px 15px;       
}
.accordion section:target p:last-child{            
    border-bottom:  1px solid #e3e3e3;
}

.navbar{background: rgb(42, 44, 56);}
.menu{margin: 0;padding: 0;list-style: none; }
.menu a{display: block; text-decoration: none; font-size: 40px; color: #e3e3e3; padding: 5px 10px}
.logo a,
.logo img{display: block; width: 100px; padding: 0;}

@media screen and (min-width: 1000px){
    .menu{display: flex; max-width: 820px; margin: 0 auto; justify-content: space-between; align-items: center;}
    .logo-show-sm{display: none;}
}

@media screen and (max-width: 1000px){    
    .logo-show-md{display: none;}
    .logo{padding: 15px;}
}
@media screen and (min-width: 600px){
    .menu a{font-size: 40px;}
}

@media screen and (max-width: 600px){   
    .menu a{font-size: 20px;}
}
/*----------------------footer-------------------------*/
.listFooter {
    position:relative;
}
footer {
	background-color: rgba(92, 92, 92, 0.333);
	padding: 10px;
	text-align: center;
	font-weight: bold;
	color: white;	
    bottom:0;
    width: 100%;
    position:fixed;
    left: 0;
    bottom: 0;
}
footer p{
    margin: 0;
}
