body{
    background-color: rgb(8, 8, 8);
    color: whitesmoke;
    font-family:monospace;

}



/*----------------------body-------------------------*/
#maindiv{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    background-color: #666a743b;
    padding: 30px;
    padding-bottom:30px;
}
#maindiv h1{
    text-align: center;
}
#hello{
    text-align: center;
    font-size: 30px;
    min-width: 428px;
}
#hello ul{
    list-style-type: none;
    padding: 0;
}
#title{
    text-align: center;
}
.bold{
    font-weight: bolder;
}
.highlight{
    color: rgb(0, 191, 255);
}
.welcome{
    margin-top: auto;
    margin-bottom: auto;
}
#dc_box{
    padding: 20px;
    padding-bottom: 15px;
    background-color: rgb(42, 44, 56);
    width: min-content;
    margin: auto;
    border-radius: 12px;
}
#teleIMG{
    width: 200px;

    transition: 0.3s;
}
#teleIMG:hover{
    width: 250px;

    transition: 0.3s;
}

@media screen and (max-width: 1200px){
    #maindiv{width: 90%;}
}
@media screen and (max-width: 600px){
    #maindiv{width: 95%;}
}

/*home content*/
#topgs{
    width: 100%;
    border-radius: 30px;
    min-width: 200px;
    max-width: 500px;
}
.welcome{
    text-align: center;
}

/*-------------Resources--------------*/
#category{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    background-color: #666a743b;
    padding: 30px;
    padding-bottom:30px;
 
}
#category .col{
    background-color: rgb(88, 88, 88);
    border-radius: 12px;
    width: 40px;
    height: auto;
    margin: 30px;
    min-width: 260px;
    text-align: center;
    padding: 10px;
}
#category p{
    font-size: 35px;
    font-weight: bolder;
}
#category ul{
    list-style: none;
    text-align: center;
    padding: 0;
}
#category a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
    font-size: 20px;
    font-weight: bold;
}
#category a:hover{
    color: rgb(0, 191, 255);
    transition: 0.2s;
    font-size: 25px;
}
#category li{
    margin-top: 10px;
}
.levels a{
    text-decoration: none;
    color: rgb(0, 191, 255);
    transition: 0.3s;
}
.levels a:hover{
    color: white;
    transition: 0.3s;
    font-size: 45px;
}
@media screen and (min-width: 600px){
    #title h1{font-size: 60px;}
    #hello{min-width: 428px;font-size: 30px;}
    #dc{width: 350px;height: 400px;}
    #category .col{margin-left: 30px;}
}

@media screen and (max-width: 600px){   
    #hello{min-width: auto;font-size: 20px;}
    #dc{width: 250px;height: 350px;}
    #category .col{margin-left: 10px;}
}
@media screen and (max-width: 480px){
    #dc{width: 200px;height: 300px;}
}
@media screen and (max-width: 1200px){
    #category{width: 90%;}
}
@media screen and (max-width: 600px){
    #category{width: 95%;}
}
/*-------------about--------------*/
#aboutdiv{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    background-color: #666a743b;
    padding: 30px;
    padding-bottom:30px;
}
#aboutdiv h1{
    text-align: center;
}



#socials{
    width: 80%;
    height: auto;
    margin-top: 30px;
    border-radius: 30px;
    background-color: #666a743b;
    padding: 30px;
    padding-bottom:30px;
    margin: 10px;
    text-align: center;
    min-width: 270px;
}
#socials .col{
    background-color: rgb(88, 88, 88);
    border-radius: 12px;
    width: 40px;
    height: auto;
    margin: 30px;
    min-width: 260px;
    text-align: center;
    padding: 10px;
}
#socials a{
    font-size: 25px;
    color: white;
    text-decoration:none;
    transition: 0.2s;
}
#socials a:hover{
    font-size: 30px;
    transition: 0.2s;
    color: #738ADB;
}
#socials img{
    width: 50px;
}
#socials li{
    text-align: left;
}

@media screen and (min-width: 5000px){
    #socials{min-width: 270px;}
}

@media screen and (max-width: 1411px){   
    #aboutdiv{min-width: 400px;width: 90%;}
}
@media screen and (max-width: 1000px){
    #aboutdiv{margin-left: auto;margin-right: auto;width:90%;}
    #aboutdiv #aboutdiv{
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 530px){
    #aboutdiv{min-width: 200px;margin-left: auto;margin-right: auto;width:90%;}
    #socials{min-width: 200px;}
    #aboutdiv.row{padding-right: 0;}
    #title h1{font-size: 40px; margin: 0;}
    #title{padding: 0;height: auto;}
}
@media screen and (max-width: 1200px){
    #aboutdiv{width: 90%;}
}
@media screen and (max-width: 600px){
    #aboutdiv{width: 95%;}
}
/*----------------------navbar-------------------------*/
.menu li.categories{
    list-style: none;
    position: relative;
}
.menu li.categories::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(0, 191, 255);
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}
.menu li:hover:after{
    width: 100%;
}

.logo img{
    transition: 0.2s;
}
.logo:hover img{
    width: 90px;
}

.accordion{                  
    font: normal 14px/1.5rem "Arial", sans-serif;        
    background: #222;
    max-width: 600px;            
    margin: 60px  auto;  
}
.accordion section p{
    overflow: hidden;
    height: 0em;
    padding: 0 10px;
    margin: 0;
    background: #fff;
    transition:  0.3s;
    border-left:  1px solid #e3e3e3;
    border-right:  1px solid #e3e3e3;
}

.accordion section a {         
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 8px 15px;
    background: #1e3799;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.accordion section a:focus,            
.accordion section a:hover {            
    background: #0c2461;
}
.accordion section:target p{
    height: inherit;
    padding: 10px 15px;       
}
.accordion section:target p:last-child{            
    border-bottom:  1px solid #e3e3e3;
}

.navbar{background: rgb(42, 44, 56);}
.menu{margin: 0;padding: 0;list-style: none; }
.menu a{display: block; text-decoration: none; font-size: 40px; color: #e3e3e3; padding: 5px 10px}
.logo a,
.logo img{display: block; width: 80px; padding: 0;}

@media screen and (min-width: 1000px){
    .menu{display: flex; max-width: 820px; margin: 0 auto; justify-content: space-between; align-items: center;}
    .logo-show-sm{display: none;}
}

@media screen and (max-width: 1000px){    
    .logo-show-md{display: none;}
    .logo{padding: 15px;}
}
@media screen and (min-width: 600px){
    .menu a{font-size: 40px;}
}

@media screen and (max-width: 600px){   
    .menu a{font-size: 20px;}
}
/*----------------------roadmap-------------------------*/
#calendar{
    width: 1300px;
    height: 1000px;
}
@media screen and (max-width: 1750px){   
    #calendar{
        width: 1200px;
        height: 1000px;
    }
}
@media screen and (max-width: 1650px){   
    #calendar{
        width: 1100px;
        height: 900px;
    }
}
@media screen and (max-width: 1470px){   
    #calendar{
        width: 1000px;
        height: 900px;
    }
}
@media screen and (max-width: 1350px){   
    #calendar{
        width: 900px;
        height: 800px;
    }
}
@media screen and (max-width: 1250px){   
    #calendar{
        width: 800px;
        height: 700px;
    }
}
@media screen and (max-width: 1150px){   
    #calendar{
        width: 700px;
        height: 600px;
    }
}
@media screen and (max-width: 1000px){   
    #calendar{
        width: 600px;
        height: 500px;
    }
}
@media screen and (max-width: 900px){   
    #calendar{
        width: 500px;
        height: 400px;
    }
}
@media screen and (max-width: 800px){   
    #calendar{
        width: 400px;
        height: 350px;
    }
}
@media screen and (max-width: 600px){   
    #calendar{
        width: 230px;
        height: 300px;
    }
}
/*----------------------footer-------------------------*/
.listFooter {
    position:relative;
}
footer {
	background-color:rgb(42, 44, 56);
	padding: 20px;
    padding-top: 30px;
	text-align: center;
	font-weight: bold;
	color: white;	

    bottom:0;
    width: 100%;
    position:fixed;
    left: 0;
    bottom: 0;
    margin-top: 40px;
}
footer p{
    margin: 0;
    font-size: 12px;
}
footer a{
    text-decoration: none;
    color: white;
}
@media screen and (min-width: 600px){
    footer p{font-size: 20px;}
}

@media screen and (max-width: 600px){   
    footer p{font-size: 12px;}
}
#social_medias img{
    width: 40px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 7px;
    transition: 0.5s;
}
#social_medias img:hover{
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    transition: 0.5s;
}
/*----------------------gallery-------------------------*/
#gallery img{
    border-radius: 30px;
    width: 100%;
    margin-bottom: 24px;
    min-width: 300px;
    max-width: 500px;
}

@media screen and (max-width: 900px){   
    #gallery img{
        min-width: 200px;
    }
}
#gallery div.col{
    text-align: center;
}
